@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-flowblue: #6caad0;
  --color-flowbluer: #7c81d5;
}

html {
  transition: color-scheme 0.2s;
}

html.dark {
  color-scheme: dark;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}